body{
    background-color: #ffbb93;
    color:#000;
    align-content: center;
  }
  
  h1{
    color: black;
  }
  form{
    background-color: #ffbb93;
  }

  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }