{%extends 'base.html'%}
{% block content %}

{{ block.super }}
<div class="container">
    {% for projects_item in projects %}
    <div class="row-md-12">

        <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="card ">
                
                <p>{{ projects_item.title}}</p>
                <img src="{{ projects_item.image.url }}" height="200px" width="300px" alt="Image" />
                <p>{{ projects_item.description }}</p>
                <p><i class="fa fa-heart"></i>{{ projects_item.ratings }}</p>
                <p>by {{ projects_item.profile }}</p>
                <p>on {{ projects_item.pub_date }}</p>
                <a href = "{{ projects_item.url}}">live site</a>

            </div>
        </div>
    </div>


    {% endfor %}
</div>
{% endblock %}