<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   
    <title>ratings</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>

<body>

    <div class="container text-center">
        <div class="rating">
            <p>dESIGN</p>
            <input type="radio" name="star" id="star1">
            <lebel for="star1"></lebel>
            <input type="radio" name="star" id="star2">
            <lebel for="star2"></lebel>
            <input type="radio" name="star" id="star3">
            <lebel for="star3"></lebel>
            <input type="radio" name="star" id="star4">
            <lebel for="star4"></lebel>
            <input type="radio" name="star" id="star5">
            <lebel for="star5"></lebel>
            <input type="radio" name="star" id="star6">
            <lebel for="star6"></lebel>
            <input type="radio" name="star" id="star7">
            <lebel for="star7"></lebel>
            <input type="radio" name="star" id="star8">
            <lebel for="star8"></lebel>
            <input type="radio" name="star" id="star9">
            <lebel for="star9"></lebel>
            <input type="radio" name="star" id="star10">
            <lebel for="star10"></lebel>
        </div>
        <div class="rating">
            <p>USERBILITY</p>
            <input type="radio" name="star" id="star1">
            <lebel for="star1"></lebel>
            <input type="radio" name="star" id="star2">
            <lebel for="star2"></lebel>
            <input type="radio" name="star" id="star3">
            <lebel for="star3"></lebel>
            <input type="radio" name="star" id="star4">
            <lebel for="star4"></lebel>
            <input type="radio" name="star" id="star5">
            <lebel for="star5"></lebel>
            <input type="radio" name="star" id="star6">
            <lebel for="star6"></lebel>
            <input type="radio" name="star" id="star7">
            <lebel for="star7"></lebel>
            <input type="radio" name="star" id="star8">
            <lebel for="star8"></lebel>
            <input type="radio" name="star" id="star9">
            <lebel for="star9"></lebel>
            <input type="radio" name="star" id="star10">
            <lebel for="star10"></lebel>
        </div>
        <div class="rating">
            <p>CONTENT</p>
            <input type="radio" name="star" id="star1">
            <lebel for="star1"></lebel>
            <input type="radio" name="star" id="star2">
            <lebel for="star2"></lebel>
            <input type="radio" name="star" id="star3">
            <lebel for="star3"></lebel>
            <input type="radio" name="star" id="star4">
            <lebel for="star4"></lebel>
            <input type="radio" name="star" id="star5">
            <lebel for="star5"></lebel>
            <input type="radio" name="star" id="star6">
            <lebel for="star6"></lebel>
            <input type="radio" name="star" id="star7">
            <lebel for="star7"></lebel>
            <input type="radio" name="star" id="star8">
            <lebel for="star8"></lebel>
            <input type="radio" name="star" id="star9">
            <lebel for="star9"></lebel>
            <input type="radio" name="star" id="star10">
            <lebel for="star10"></lebel>
        </div>
    </div>
    </div>
</body>

</html>